#cloud-config
# vim: syntax=yaml
#
# ***********************
#       ---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: misaelsilva
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDGOlahsiWEADQtX8eW8Wf3QKxB3Olme4dCs2FhNZXLCvHP1j2WDpOeAUd99J6n8Oo3OUEzkbnBLqWaDh/IkhLFUgcCnCfsGBc0Vv0WDh4nSx9omdpRXq6UnOhPIq4WBMSsRwkh9Y/pr90te7Tzpj36zwStZT6yUdAKa8YjUGSBAiCjZjwnJz1VikcfKHDyCfnIgaPM0GkxsDvkhjUQN+KPiSbyjHIabi7Y3jtaaNFX3XXm4sjDqSIomit9jZX0/Mb9fMFusOF1DkxSukp9NHK4O6rjvE13sgfoFPo88ClcttR0nyTsd5iXcs//4x6fhxpq2mug3mt5drOh/2odO7/L misaelsilva@usrv03 
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
